body {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: black;
  transition: background-color 0.5s ease;
  z-index: 1;
  // flex-direction: column;
  margin-left: 320px;
}

#fdiv {
  border-radius: 10px;
  display: flex;
  padding: 100px;
}

#quote-box {
  max-width: 400px;
  max-height: 400px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px lightblue;
  text-align: center;
  background-color: black;
  word-wrap: break-word;
  color: white;
  margin-left: 30px;

}

#text blockquote {
  font-size: 24px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgb(55, 177, 65);
}

#author {
  font-size: 18px;
  margin-top: 10px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
  margin-left: 20px;
}
.random-bg {
  transition: background-color 0.3s;
}

.title {
  // position: fixed;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 40px;
  color: #fff;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px rgb(9, 9, 182);
}

#tweet-quote {
  outline-style: dotted;
  outline-color: white;
  padding: 10px;
  border-radius: 5px;
}

.twit {
  color: #007bff;
  size: 25px;
  margin-top: 5px;
}

#new-quote {
  // text-shadow: 2px 2px 5px red;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
